.navbar {

    .logo {

        margin: 25px auto;
        max-width: 100px;
        position: relative;
        opacity: 0;
        transition: opacity 1s ease-in, 0.3s ease-out;


    }

    &__wrapper {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        position: fixed;
        top: 0;
        height: 100%;
        background: $prim-color;
        padding: 10px;
        width: 60px;
        transition: width 0.5s ease-in-out;

        &--icon {

            background: url("../img/logo.png") no-repeat center center;
            width: 35px;
            height: 40px;
            display: block;
            background-size: 35px 40px;
            @include center-abs;


        }

        &--hide {

            display: none;
            font-size: 30px;
            position: absolute;
            top: 20px;
            left: 20px;
            cursor: pointer;

            i {

                cursor: pointer;

            }

        }

        &.open {

            width: 300px;

            .navbar__wrapper--icon {

                display: none;

            }

            .navbar__wrapper--hide {

                display: inline-block;

            }

            .logo {

                display: block;
                opacity: 1;

            }

            .navigation {

                display: block;
                transform: translateX(0px);
                width: 100%;

            }

            .copy {

                display: block;
                transform: translateX(0px);
                width: 100%;

            }

        }

    }
}

.navigation {

    @include center-vertical;
    width: 0%;
    overflow: hidden;
    left: 0;
    transform: translateX(-300px);
    transition: transform 1s ease-out;

    &--link {

        text-align: center;
        width: 60%;
        margin: 0 auto;

        a {

            font-family: $secondary-font;
            font-weight: 600;
            @include rem-calc(20px);
            color: #B0B2B3;
            padding: 5px 0;
            display: block;

            &:hover {

                background-color: #313133;
                color: #fff;

            }
        }

    }

}

.copy {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    width: auto;
    overflow: hidden;
    transform: translateX(-300px);
    transition: transform 1s ease-out;

}